<footer class="site-footer">

<div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.title }}</h2> -->

	<div class="footer-col-wrapper">
		<div class="footer-col  footer-col-1">
			<ul class="contact-list">
				<li><strong>{{ site.title }}</strong></li>
				<li>{{ site.jobtitle }}</li>
				<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
			</ul>
		</div>

		<div class="footer-col  footer-col-2">
			<ul class="social-media-list">

				<li class>
					{% if site.googlescholar_username %}
					<a href="https://scholar.google.com/citations?user={{ site.googlescholar_username }}">
						<i class="ai ai-google-scholar-square fa-lg" style="color:gray"></i>
					</a>
					{% endif %}

					{% if site.researchgate_username %}
					<a href="https://www.researchgate.net/profile/{{ site.researchgate_username }}">
						<i class="fab fa-researchgate fa-lg" style="color:gray"></i>
					</a>
					{% endif %}

					{% if site.github_username %}
					<a href="https://github.com/{{ site.github_username }}">
						<i class="fab fa-github fa-lg" style="color:gray"></i>
						</a>
					{% endif %}
				</li>



				<li>
					{% if site.twitter_username %}
					<a href="https://twitter.com/{{ site.twitter_username }}">
						<i class="fab fa-twitter fa-lg" style="color:gray"></i>
					</a>
					{% endif %}

					{% if site.linkedin_username %}
					<a href="https://linkedin.com/in/{{ site.linkedin_username }}">
						<i class="fab fa-linkedin-in fa-lg" style="color:gray"></i>
					</a>
					{% endif %}
				</li>

			</ul>
		</div>

		<div class="footer-col  footer-col-3">
			<p class="text">
			<a href="https://www.ncbi.nlm.nih.gov/research/bionlp/">Zhiyong Lu's Bionlp Group</a><br />
			<a href="https://www.ncbi.nlm.nih.gov/">National Center for Biotechnology Information</a><br />
			<a href="https://www.nih.gov/">National Institutes of Health (NIH)</a><br />
			Bethesda, Maryland, USA</p> <!-- {{ site.description }} -->
		</div>
	</div>

</div>

</footer>
